In [1]:
import mwclient
import time

site = mwclient.Site('en.wikipedia.org')
page = site.pages['Bitcoin']

In [2]:
revs = list(page.revisions())

In [3]:
revs[0]

OrderedDict([('revid', 1151233254),
             ('parentid', 1149274508),
             ('minor', ''),
             ('user', 'Rodw'),
             ('timestamp',
              time.struct_time(tm_year=2023, tm_mon=4, tm_mday=22, tm_hour=18, tm_min=46, tm_sec=9, tm_wday=5, tm_yday=112, tm_isdst=-1)),
             ('comment',
              'Disambiguating links to [[Central American University]] (link changed to [[Central American University (San Salvador)]]) using [[User:Qwertyytrewqqwerty/DisamAssist|DisamAssist]].')])

In [4]:
revs = sorted(revs, key=lambda rev: rev["timestamp"])

In [5]:
revs[0]

OrderedDict([('revid', 275832581),
             ('parentid', 0),
             ('user', 'Pratyeka'),
             ('timestamp',
              time.struct_time(tm_year=2009, tm_mon=3, tm_mday=8, tm_hour=16, tm_min=41, tm_sec=7, tm_wday=6, tm_yday=67, tm_isdst=-1)),
             ('comment', 'creation (stub)')])

In [6]:
from transformers import pipeline
sentiment_pipeline = pipeline("sentiment-analysis")

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

In [7]:
def find_sentiment(text):
    sent = sentiment_pipeline([text[:250]])[0]
    score = sent["score"]
    if sent["label"] == "NEGATIVE":
        score *= -1
    return score

In [8]:
edits = {}

for rev in revs:        
    date = time.strftime("%Y-%m-%d", rev["timestamp"])
    if date not in edits:
        edits[date] = dict(sentiments=list(), edit_count=0)
    
    edits[date]["edit_count"] += 1
    
    comment = rev.get("comment", "")
    edits[date]["sentiments"].append(find_sentiment(comment))

In [9]:
from statistics import mean

for key in edits:
    if len(edits[key]["sentiments"]) > 0:
        edits[key]["sentiment"] = mean(edits[key]["sentiments"])
        edits[key]["neg_sentiment"] = len([s for s in edits[key]["sentiments"] if s < 0]) / len(edits[key]["sentiments"])
    else:
        edits[key]["sentiment"] = 0
        edits[key]["neg_sentiment"] = 0
    
    del edits[key]["sentiments"]

In [10]:
import pandas as pd

edits_df = pd.DataFrame.from_dict(edits, orient="index")

In [11]:
edits_df

            edit_count  sentiment  neg_sentiment
2009-03-08           4  -0.550525           0.75
2009-08-05           1   0.748121           0.00
2009-08-06           2   0.995746           0.00
2009-08-14           1   0.930021           0.00
2009-10-13           2  -0.227501           0.50
...                ...        ...            ...
2023-03-29           1  -0.999457           1.00
2023-03-30           1  -0.997922           1.00
2023-04-03           1  -0.996604           1.00
2023-04-11           2   0.000964           0.50
2023-04-22           1  -0.998953           1.00

[2596 rows x 3 columns]

In [12]:
edits_df.index = pd.to_datetime(edits_df.index)

In [13]:
from datetime import datetime

dates = pd.date_range(start="2009-03-08",end=datetime.today())

In [14]:
edits_df = edits_df.reindex(dates, fill_value=0)

In [15]:
edits_df

            edit_count  sentiment  neg_sentiment
2009-03-08           4  -0.550525           0.75
2009-03-09           0   0.000000           0.00
2009-03-10           0   0.000000           0.00
2009-03-11           0   0.000000           0.00
2009-03-12           0   0.000000           0.00
...                ...        ...            ...
2023-04-30           0   0.000000           0.00
2023-05-01           0   0.000000           0.00
2023-05-02           0   0.000000           0.00
2023-05-03           0   0.000000           0.00
2023-05-04           0   0.000000           0.00

[5171 rows x 3 columns]

In [16]:
rolling_edits = edits_df.rolling(30, min_periods=30).mean()

In [17]:
rolling_edits = rolling_edits.dropna()

In [18]:
rolling_edits

            edit_count  sentiment  neg_sentiment
2009-04-06    0.133333  -0.018351       0.025000
2009-04-07    0.000000   0.000000       0.000000
2009-04-08    0.000000   0.000000       0.000000
2009-04-09    0.000000   0.000000       0.000000
2009-04-10    0.000000   0.000000       0.000000
...                ...        ...            ...
2023-04-30    0.133333  -0.066486       0.083333
2023-05-01    0.133333  -0.066486       0.083333
2023-05-02    0.133333  -0.066486       0.083333
2023-05-03    0.100000  -0.033266       0.050000
2023-05-04    0.100000  -0.033266       0.050000

[5142 rows x 3 columns]

In [19]:
rolling_edits.to_csv("wikipedia_edits.csv")